{% extends "web/temp.html" %}

{% block content %}
    <br>
    <h1><strong>MISINFORMED</strong></h1>
    <h4>The Game about spreading lies.</h4>

    <br><h4>GUIDE</h4>
    <p>Welcome to MISINFORMED, the game were you spread misinformation to win.<br>
    the objective of the game is to take over the country with your lies and deception.
    <br>To assist you, you have many tools you can purchase with the Game's F.I.B POINTS to assist you.
    <br>but beware, you can't just spurt random words now, you have to make it believeable.
    <br>If it isn't believeable, the people won't listen.</p>
    <br><h4>THE THREE PILLARS OF <strong>MISINFORMED</strong></h4>
    <p><strong>ACTIVITY</strong>: this is how fast your lie spreads, this gives you FIB Points.</p>
    <p><strong>BELIEVABILITY</strong>: this is how often people would believe your lies. Increases Reputation</p>
    <p><strong>SEVERITY</strong>: this how severe the rumor becomes, can lead to a decrease in Reputation later.</p>
    <br><br>
    <p>Beware of the Organisation.</p>
{% endblock %}